.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__logo {
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }

  &__menu {
  }
}
.menu {
  &__list {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  &__item {
  }

  &__link {
    color: rgb(114, 114, 114);
    transition: color 0.3s ease;

    &.active {
      color: #000;
    }

    &:hover {
      color: rgb(63, 63, 63);
    }
  }
}
